<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <h3>
            You have received a new message from the site's contact form. 
        </h3>
        <p>
            It is from <%= "#{ @name }, #{ @email }." %>
        </p>
        <p>
            <%= "#{ @body }" %>
        </p>
    </body>
</html>